h2 {
  margin: 0px 0 -5px 0;
  text-align: center;
}
#container {
  widht:100%;
  height:100%;
}
#populous {
  color: purple;
}
/* The sidepanel menu */
.sidepanel {
 height: 85%; /* Specify a height */
 width: 0; /* 0 width - change this with JavaScript */
 position: fixed; /* Stay in place */
 z-index: 1; /* Stay on top */
 top: 45px;
 left: 0;
 background-color: #111; /* Black*/
 overflow-x: hidden; /* Disable horizontal scroll */
 padding-top: 25px; /* Place content 60px from the top */
 transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
 font-family: arial;
}

/* The sidepanel links */
.sidepanel a {
 padding: 2px 0px 2px 20px;
 text-decoration: none;
 font-size: 20px;
 color: #e19c1a;
 display: block;
 transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
 color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
 position: absolute;
 top: -5px;
 right: 6px;
 font-size: 24px;
 margin-left: 50px;
 color: #ac4a4a;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
   font-size: 20px;
   cursor: pointer;
   background-color: #111;
   color: white;
   padding: 10px 22px 12px 20px;
   border: none;
   position: fixed;
}
.btnResetCam {
  font-size: 16px;
  cursor: pointer;
  background-color: #1111116e;
  color: #9ebfcd;
  padding: 8px 20px;
  border: none;
  position: fixed;
  right: 0px;
  border-radius: 18px 0 0 18px;
  bottom: 54px;
}
.btnInspector {
  font-size: 16px;
  cursor: pointer;
  background-color: #1111116e;
  color: #f75c5cad;
  padding: 8px 20px;
  border: none;
  position: fixed;
  right: 0px;
  border-radius: 18px 0 0 18px;
  bottom: 14px;
}

.openbtn:hover, .btnResetCam:hover, .btnInspector:hover {
  background-color: #444;
}
.menu_city {
  color : #4b92a7;
  font-size: 14px;
  padding: 0 0 5px 0;
  margin: 0 0 5px 0px;
}
.menu_coords {
  color: #8ad7ed;
}
.menu_mayor {
  color: #d07373;
  margin-left: 6px;
}
.menu_biome {
  margin-left: 6px;
}
.menu_CityName {
  display: block ruby;
}
.menu_CityName img{
  /*padding: 0 10px 0 10px;*/
  margin-top: -10px;
}
.menu_secondLine {
  padding: 0px 5px 0 20px;
}
.menu_mobility {
  padding: 0 10px 0 10px;
  color: #4eae6b;
}
/* MAIN MENU*/
#menu_main{
  position: relative;
  bottom: 35px;
  background-color: #1111116e;
  width: 40%;
  margin-left: 34%;
  height: 33px;
  border-radius: 14px 14px 0 0;
  margin-left: auto;
  margin-right: auto;
}
.menu_lvl1 {
  /*color: white;*/
  float: left;
  width: 17%;
  padding: 5px;
  text-align: center;
  margin: 2px;
}
#main_submenu {
  display: none;
  background-color: #d4d4d4;
  overflow: scroll;
  position: relative;
  bottom: 520px;
  height: 438px;
  border-radius: 10px;
  padding: 21px 20px 0 20px;
  border: 2px solid white;
  scrollbar-color: orange red;
  scrollbar-width: 4px;
  width: 94%;
}

#main_submenu p {
  font-size: 20px;
  margin: 11px 0 14px 0px;
}
#menu_main a {
  color: white;
  text-decoration: none;
}
#menu_main a:hover {
  color: orange;
}
.centerText {
  text-align: center;
}
#loading_screen {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: #000000d1;
  top: 52px;
  left: 50%;
  margin: 0 auto;
  transform: translate(-50%, 0);

  color: white;
  /*padding: 26px 0px 0px 50px;*/
  font-size: 48px;
  border-radius: 75px;
}
#loading_tips {
  font-size: 37px;
}
